OSPREY_BLUESKY_IDENTIFIER=your-handle.bsky.social
OSPREY_BLUESKY_PASSWORD=xxxx-xxxx-xxxx-xxxx
OSPREY_BLUESKY_PDS_URL=https://<pds>.<geo>.host.bsky.network
OSPREY_BLUESKY_LABELER_DID=<did>
TAILNET_IP=127.0.0.1
